<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Botbuilder" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <%= javascript_importmap_tags %>

    <!-- Add custom styles for margins and spacing -->
    <style>
      main {
        padding: 1rem;
        margin: 0 auto;
        max-width: 1200px; /* Adjust as needed */
      }
      hr {
        margin: 1rem 0;
      }
      p {
        margin: 1rem 0;
      }
    </style>
  </head>

  <body>
    <header>
      <nav class="container-fluid">
        <ul>
          <li><strong>BotBuilder</strong></li>
        </ul>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to 'Agentes', ai_agents_path %></li>

      <% if authenticated? %>
        <li> Usuário: <%= Current.user.email_address %></li>
        <li><%= button_to 'Deslogar', session_path, method: :delete %></li>
      <% end %> 
     </ul>
    </nav>
    </header>

    <hr>

    <%= notice %> 
    <%= alert %>

    <hr>

    <main>
      <%= yield %>
    </main>
  </body>
</html>